<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../scripts/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../styles/video.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/angular-route.min.js"></script>
	<title></title>
</head>
<body ng-app="video" ng-controller="videoController">

<header>
	<nav class="navbar navbar-static-top" role="navigation">
		<div class="container">
			<!--Cabezera de Navegacion y Boton de menu-->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegation-kv">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KV</a>
			</div>
			<!--Menu de Navegacion-->
			<div class="collapse navbar-collapse" id="navegation-kv">
				<ul class="nav navbar-nav">
					<li class="active"><a href="">Inicio1</a></li>
					<li><a href="">Inicio2</a></li>
					<li><a href="">Inicio3</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="right"><a href="">CrearCuenta</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<section class="main container">
	<div class="row">
		<div class="col-md-3">
			<!--Formulario de Busqueda-->
			<form>
				<div class="input-group">
			      <input ng-model="textoBusqueda" type="text" class="form-control" placeholder="Buscar">
			      <span class="input-group-btn"><button id="botonBusqueda" class="btn" type="button" ng-click="busquedaTexto()"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
			    </div>
			</form>
		    <br>
		    <!--Bloque de Categorias-->
			<div  class="list-group">
			  <a href="" class="list-group-item categ" ng-click="busquedaGenero('terror')">Terror</a>
			  <a href="" class="list-group-item categ" ng-click="busquedaGenero('accion')">Accion</a>
			  <a href="" class="list-group-item categ" ng-click="busquedaGenero('comedia')">Comedia</a>
			  <a href="" class="list-group-item categ" ng-click="busquedaGenero('aventura')">Aventura</a>
			</div>
		</div>
		<!--Tarjetas de busqueda por genero y Reproduccion de Video-->
		<div ng-view class="col-md-8 col-md-offset-1">		
		</div>		
	</div>
</section>

<script src="../scripts/bootstrap/js/jquery.min.js"></script>
<script src="../scripts/bootstrap/js/bootstrap.js"></script>
<script src="../scripts/video.js"></script>

</body>
</html>